

.column {
    float: left;
    height: 45%;
    width: 50%;
    padding: px;
    position: relative;
    left: 30px;
}

.row::after {
    content:"";
    clear:both;
    display:table;
    margin-bottom: 1%;
}

#face-close-up-img {
    height: 785px;
}

#split-img {
    max-width:70%;
    position: relative;
    left: 200px;
}    

body{background-color: blueviolet;} 

#main{ font-family: fantasy; color: rgb(255, 125, 249); text-align: center;}
#m2{ text-align: center; font-family: fantasy; color: rgb(255, 125, 249)}
#bio{font: xx-large; font-style: oblique; color: gold; }
.vids{text-align: center;}
